:root {
  --heightNavbar: 55;
}

#navbarDiv {
    text-align: center;
    background: linear-gradient(to right, #16222e 0%,#3B2623 38%,#4e5450 100%);
    position: fixed;
    width: 100%;
    top: 0;
    line-height: var(--heightNavBar);
}

/* This might need to be: #navbarDiv ul li */
#navbarDiv ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  /* Undoing the default styling that 'tailwind.min.css' created since its messing up the navbar 'ul' items: */
  /* margin: unset; */
  /* padding: unset; */
  margin: 16px 0px;
  padding: 0 0 0 40px;
}

#navbarDiv a {
  text-decoration: none;
  color: white;
  font-family: Georgia;
}

#navbarDiv a:hover {
  text-decoration: underline;
  color: blue;
}

#content {
  top: heightNavbar;
}

/* Linktree style button: */
.links-container {
  display: flex;
  flex-direction: column;
  jusify-content: center;
  align-items: center;
}

.links-container a {
  width: 80%;
}

.linktree-button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    width:100%;
    text-align:left;
    padding:8px 16px;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space:normal;
    border-radius:16px
}

.linktree-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.linktree-button:first-child {
    background-color:#ccc;
    color:#000;
}

.linktree-button:hover {
    color:#000!important;background-color:#ccc!important
}

/* Fancybox CSS */
a[data-fancybox] img {
  cursor: zoom-in;
}

/* Pushing margin to zero to help make both pages look similar */
body {
  margin: 0;
}
